body {
    --swatch: 22px;
    --gutter: 17px;
    --soft-border: #0003;
    --hard-border: #000;
    --inner-glow: #fffc;
    --soft-bg: #eee;
    --bg: #fff;
    --fg: #111;
    background: var(--soft-bg);
    width: calc(8 * var(--swatch) + 9 * var(--gutter));
    margin: 0;
    /* default is display: flex for some reason */
    display: block;
}

@media (prefers-color-scheme: dark) {
    body {
        --soft-border: #fff5;
        --hard-border: #fff9;
        --inner-glow: #000a;
        --soft-bg: #1c1c1c;
        --bg: #2a2a2a;
        --fg: #ccc;
    }
}

.row {
    display: flex;
    margin: var(--gutter) 0;
}

#canvas-wrapper {
    position: relative;
    margin: 0 var(--gutter);
}

#canvas-wrapper::after {
    content: '';
    box-shadow: inset 0 0 0 1px var(--soft-border);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

canvas {
    display: block;
}

#thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #000;
    border-radius: 50%;
    transform: translate(-7px, -7px);
    z-index: 1;
}

#slider {
    display: block;
    width: var(--swatch);
    height: 256px;
    background: url('../images/rainbow.png');
    position: relative;
    box-shadow: inset 0 0 0 1px var(--soft-border);
}

#slider path {
    fill: var(--fg);
}

#slider svg {
    position: absolute;
    left: calc((var(--swatch) - 48px) / 2);
    top: -12px;
}

#swatches div {
    width: var(--swatch);
    height: var(--swatch);
    margin-left: var(--gutter);
    box-sizing: border-box;
}

#swatches div:hover {
    border: 1px solid var(--hard-border);
}

#swatches div.active {
    border: 1px solid var(--hard-border);
    box-shadow: inset 0 0 0 1px var(--inner-glow);
}

input {
    box-sizing: border-box;
    height: var(--swatch);
    border: 1px solid var(--soft-border);
    background: var(--bg);
    color: var(--fg);
    padding: 0 5px;
    margin: 0 0 0 var(--gutter);
    font-size: 14px;
    line-height: normal;
}

#color-input {
    width: calc(6 * var(--swatch) + 5 * var(--gutter));
}

#opacity-input {
    width: calc(2 * var(--swatch) + var(--gutter));
}
